.teams-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80rem;
    height: 40rem;
}

.team-cards{
    display: flex;
    margin-top: 30px;

    & .team-profiles{
        display: flex;
        gap: 35px;
    }
}

.profile-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img{
        width: 150px;
    }

    & .member-name{
        margin-top: 15px;
    }

    & a{
        margin-top: 5px;
        display: flex;
    }
}
