div.teams-page{
    margin-top: 8em;
    margin-right: auto;
    margin-left: auto;
}

h1.title{
    font-size: 52px;
    text-align: center;
    margin-top: 2.5em;
}

div.team-members-section-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 4em;
}