header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.4em;
  > a.logo-wrapper-link {
    > div.logo-wrapper {
      display: flex;
      align-items: center;
      gap: 14px;
      > p.logo-title {
        font-weight: 500;
      }
    }
  }
  > div.header-options-wrapper {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 28px;
    > ul.header-options-list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 28px;
    }
    > div.account-cta-buttons-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

.color-change-4x {
  animation: color-change-4x 3s linear infinite alternate both;
}
@keyframes color-change-4x {
  0% {
    color: #ff61d3;
  }
  33.3333% {
    color: #b318ff;
  }
  66.666% {
    color: #00f0ff;
  }
  100% {
    color: #006eff;
  }
}

// media-queries for different resolutions and screen-widths

// scss-query for screen-size: (maximum-width: 1400px)