div.products {
  margin-top: 8em;
  > p.products-section-description {
    text-align: center;
    color: #f2f2f2;
    width: 60ch;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    font-size: 20px;
  }
  > div.cta-github-button-wrapper {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
  }

  > div.products-wrapper {
    margin-top: 1em;
    > h2.products-section-heading {
      margin-right: auto;
      margin-left: auto;
      margin-top: 3em;
      width: fit-content;
      text-align: center;
      margin-bottom: 2em;
    }
  }
}

// media-queries for different resolutions and screen-widths

// scss-query for screen-size: (maximum-width: 1400px)

@media screen and (max-width: 1400px) {
  div.products {
    margin-right: auto;
    margin-left: auto;
    margin-top: 8em;
    width: 90%;
    > h1.products-section-title {
      font-size: 26px;
    }
    > p.products-section-description {
      text-align: center;
      color: #f2f2f2;
      width: 60ch;
      margin-right: auto;
      margin-left: auto;
      margin-top: 1em;
      font-size: 14px;
    }
    > div.gradient-text {
      display: block;
      margin: auto;
      background-color: black;
    }
    > div.cta-github-button-wrapper {
      width: fit-content;
      margin-right: auto;
      margin-left: auto;
      margin-top: 2em;
    }

    > div.products-wrapper {
      margin-top: 1em;
      > h2.products-section-heading {
        margin-right: auto;
        margin-left: auto;
        margin-top: 3em;
        width: fit-content;
        text-align: center;
        margin-bottom: 2em;
      }
    }
  }
}