div.footer {
  border-top: 1.2px solid #ffffff33;
  margin-top: 6em;
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  
  > div.footer-row-1{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));

    > div.logo-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
    }

    > div.footer-col-1{
      display: flex;
      justify-content: space-around;

      > div.useful-links-section{
        display: flex;
        flex-direction: column;

        > div.useful-links-list{
          margin-top: 10px;
          line-height: 1.5;

          > ul.useful-links-list{
            list-style:none;
          }
        }
      }

      > div.products-links-section{
        display: flex;
        flex-direction: column;

        > div.product-links-list{
          margin-top: 10px;

          > ul.products-links-list{
            list-style:none;
          }
        }
      }
    }

    > div.footer-col-2{
      margin-left: 10%;

      > div.connect-community{
        display: flex;
        flex-direction: column;

        >p.community-title {
          margin-top: .5em;
          height: fit-content;
        }

        > div.community-links-wrapper{
          display: flex;
          flex-direction: row;
          margin-top: 10px;
          justify-content:space-evenly;


          a{
            margin: .5em;
          }
        }
      }
    }
  }

  > div.footer-row-2{
    display: flex;
    justify-content: center;


    > div.social-links-container{
      display: flex;
      
      > div.social-links-list{
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 4rem;

        > a , button{
          padding:8px;
          border-radius: 50px;
          border:none;
          cursor: pointer;
          width: 4em;
          height: 4em;
        }
      }
    }

    > div.privacy-copyright-links-title{
      margin-left: 3em;
      display: flex;
      gap: 50px;
      padding: 4.5rem;
      justify-content: flex-end;
    }
  }
}


@media screen and (max-width: 1200px)  {
  div.footer {
    >div.footer-row-2{
      display: flex;
      align-items: center;
      
      flex-direction: column;
      > div.social-links-container{
        > div.social-links-list{
          padding: 1rem;
        }
      }
      > div.privacy-copyright-links-title{
        margin-left: 0;
        padding: 2rem;
        justify-content: flex-end;
      }
      }
  }


  
}
@media screen and (max-width: 600px)  {
  div.footer {
    >div.footer-row-2{
      > div.privacy-copyright-links-title{
        flex-direction: column;
        margin-left: 0;
        justify-content: center;
      }
    } 
  }

  
}
